.clientInfo {
    padding: 10px;
};
.questions {
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
};
input {
    margin-left: 30px;
};
p {
    margin-left: 30px;
};
h1 {
    padding: 10px;
    margin-left: 30px;
};
h3 {
    padding: 10px;
    margin-left: 30px;
};
h2 {
    padding-top: 10px;
    margin-left: 30px;
};
select {
    margin-left: 30px;
};
.Submit {
    margin: 30px;
    width: 90%;
};
footer {
    text-align: center;
};